body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

.App {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.container {
  text-align: center;
  padding: 2rem;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.quote-box {
  margin-top: 1rem;
}

.quote-text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.quote-author {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #555;
}

.buttons button {
  margin: 0 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #1e88e5;
  color: white;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
}

.buttons button:hover {
  background-color: #1565c0;
}